@font-face {
    font-family: 'PixelFont';
    src: url('resources/font/bit_style.ttf') format('truetype');
}

body{
    margin: 0px;
    font-family: 'PixelFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

canvas {
    margin: 10px;
}

article {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px; /* Adjust this value based on your design preference */
}